.hmw_notice {
    background: #ffffe2 !important;
    padding: 1em;
    margin: 0;
    color: #444;
    border-left: 2px solid #ffffe2;
    border-bottom: 2px solid #e5765c;
}

.hmw_notice.success {
    background: #188a18 !important;
    color: white;
}

.hmw_notice.notice {
    background: #ffffe2 !important;
    color: #444;
    border-left: 2px solid #ffffe2;
    border-bottom: 2px solid #e5765c;
}

.hmw_notice p {

    display: block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 30px;
    margin: 0 0 10px 0;
    font-style: normal;
    white-space: normal;
}

.hmw_logout {
    display: inline-block;
    margin-left: 10px;
}

.hmw_btn {
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 0;
    outline: none !important;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.hmw_btn-success {
    color: #fff;
    background-color: green;
    border-color: transparent;
}

.hmw_btn-warning {
    color: #fff;
    background-color: #e8bf40;
    border-color: transparent;
}