.hmw_settings #adminmenu .wp-menu-image img {
    max-width: 20px;
}

#hmw_wrap .hmw_nav {
    flex: 0 0 225px;
}

#hmw_wrap div.hmw_pro {
    float: left;
    margin-right: 5px;
}

#hmw_wrap .row > div.input-group {
    display: flex !important;
}

#hmw_wrap .row {
    float: none !important;
    width: auto !important;
}

.hmw_settings #update-nag,
.hmw_settings .notice-error,
.hmw_settings .notice-success,
.hmw_settings .update-nag, .updated,
.hmw_settings .show-settings,
.hmw_settings .screen-meta-toggle,
.hmw_settings .notice-warning,
.hmw_settings .wccp_free_review-notice,
.hmw_settings div.fs-notice.updated,
.hmw_settings div.fs-notice.success,
.hmw_settings div.fs-notice.promotion,
.hmw_settings .notice:not(.hmw_notice),
.hmw_settings #toolbar-header,
.hmw_settings .analyst-modal,
.hmw_settings div.error.fade {
    display: none !important;
}

.hmw_settings #wpcontent {
    background-color: #f8f9fa !important;
    padding: 0 20px !important;
}

#hmw_wrap .wp_loading {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #b0794a;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: 20px auto 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#hmw_wrap .hmw_nav .hmw_nav_item {
    display: inline-block;
    font-size: 19px;
    line-height: 1.46154;
    font-weight: bold;
    color: var(--dark);
    border-bottom: 1px solid #e9e9e9;
    text-decoration: none;
    position: relative;
}

#hmw_wrap .hmw_nav .hmw_nav_item:hover, #hmw_wrap .hmw_nav .hmw_nav_item.active {
    color: #121116;
    background: #fff;
    border-left: 2px solid #906f43;
}

#hmw_wrap .hmw_nav .hmw_nav_item_description {
    display: block;
    margin-top: 2px;
    color: #ddaa00;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

#hmw_wrap .hmw_nav .hmw_nav_item:before {
    position: absolute;
    top: calc(50% - 12px);
    right: 18px;
    text-align: center;
    font-size: 1.4375rem;
    line-height: 1;
    color: #121116;
    opacity: 0.4;
    transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
}

#hmw_wrap select.form-control {
    max-width: 100%;
}

#hmw_wrap .hmw_row {
    position: relative;
    flex: 1 1 auto;
}

#hmw_wrap .hmw_col_side {
    flex: 0 0 300px;
}

#hmw_wrap .checker label {
    font-size: 16px;
    font-weight: bold;
}

#hmw_wrap .bg-brown {
    background-color: #715127;
}

#hmw_wrap .bg-input {
    background-color: #e5f5dd;
}

#hmw_wrap .text-link {
    color: #c74854;
}

#hmw_wrap .text-logo {
    color: #ddaa00;
}

#hmw_wrap .text-info {
    color: #3478a0 !important;
}

#hmw_wrap .btn-warning {
    background-color: #ddaa00;
    border-color: #ddaa00;
}

#hmw_wrap .btn-info {
    background-color: #5f82a9;
    border-color: #5f82a9;
}

#hmw_wrap .btn-outline-info {
    border-color: #5f82a9;
}

#hmw_wrap .btn-info,
#hmw_wrap .btn-outline-info:hover {
    color: #fff;
    background-color: #5f82a9;
    border-color: #5f82a9;
}

#hmw_wrap .hmw_text_mapping_remove {
    position: absolute;
    font-size: 20px;
    color: #999;
    right: -20px;
    line-height: 24px;
    top: 13px;
    width: 20px;
    height: 30px;
    text-align: center;
    z-index: 1;
    cursor: pointer;
}

#hmw_wrap .table_securitycheck tr:hover button.close {
    display: block !important;
}

#hmw_wrap .btn-outline-info:not(:disabled):not(.disabled).active, #hmw_wrap .btn-outline-info:not(:disabled):not(.disabled):active, #hmw_wrap .show > .btn-outline-info.dropdown-toggle {
    background-color: #5f82a9;
    border-color: #5f82a9;
}

#hmw_wrap .box {
    width: 100%;
    height: 95%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    border: 1px solid #efefef;
    z-index: 1;
}

#hmw_wrap .ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 70px;
    height: 70px;
    text-align: right;
}

#hmw_wrap .ribbon span {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #ddaa00;
    background: linear-gradient(#f3cb48 0%, #ddaa00 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

#hmw_wrap .ribbon span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #715127;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #715127;
}

#hmw_wrap .ribbon span::after {
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #715127;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #715127;
}

@media (max-width: 1239px) {
    #hmw_wrap .hmw_row {
        flex-direction: column !important;
    }

    #hmw_wrap .hmw_nav {
        flex: 0 0 55px;
    }

    #hmw_wrap .hmw_col_side {
        margin-right: 1em;
    }

    #hmw_wrap .hmw_nav .hmw_nav_item span,
    #hmw_wrap .hmw_nav .hmw_nav_button,
    #hmw_wrap .hmw_nav .text-logo {
        display: none !important;
    }
}